<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <title>Craftsy | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="menu">
            <img src="/img/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a href="#">Smartphnones</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Computadoras</a></li>
                </ul>
            </nav>
        </div>
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="login">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registro</a></li>
            </ul>
        </div>
    </header>
    <!-- Main -->
    <div class="contenedor-grid">
    <main>
        <section class="grid-padre-produc">
            <article class="productos product-grid-1">
                <img src="/img/img-phone-01.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-2">
                <img src="/img/img-phone-02.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-3">
                <img src="/img/img-phone-03.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-4">
                <img src="/img/img-phone-01.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-5">
                <img src="/img/img-phone-02.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-6">
                <img src="/img/img-phone-03.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
        </section>
    </main>
    <aside class="aside-tuto">
        <h2>tutoriales</h2>
        <section>
            <article class="tutoriales">
                <img src="/img/aside-01.jpg" alt="">
                <p>Titulo del tutorial de reparación</p>
            </article>
            <article class="tutoriales">
                <img src="/img/aside-02.jpg" alt="">
                <p>Titulo del tutorial de reparación</p>
            </article>
            <article class="tutoriales">
                <img src="/img/aside-03.jpg" alt="">
                <p>Titulo del tutorial de reparación</p>
            </article>
            <article class="tutoriales">
                <img src="/img/aside-04.jpg" alt="">
                <p>Titulo del tutorial de reparación</p>
            </article>
        </section>
    </aside>
    <aside class="aside-publi">
        <h2>Publicidad</h2>
        <section class="contenedor-publicidad">
            <picture class="publicidad">
                <img class="img-publicidad-1" src="/img/ad-01.jpg" alt="">
            </picture>
            <picture class="publicidad">
                <img src="/img/ad-02.jpg" alt="">
            </picture>
        </section>
    </aside>
    </div>
</body>
</html>